/* NewMessageInput.css */

.new-message-input-container {
  display: flex;
  flex-direction: column;
  position: center;
  width: 100%;
  height: 200px;
}

.new_message_input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 4px solid #000;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send-button, .open-modal-button {
  transition: background-color 0.3s ease;
}

.send-button:hover, .open-modal-button:hover {
  background-color: #3e8e41; /* alterar para a cor desejada */
}

.send-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-modal-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-height: 500px;
  overflow: auto;
  border-radius: 5px;
 }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin: 5px 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

ul li:hover {
  background-color: #ddd;
}
