.new-message-input-container {
  display: flex;
  flex-direction: column;
  position: center;
  width: 100%;
  height: 140px;
}

.new_message_input {
  border: none;
  margin-right: 5px;
 }

 .search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.send-button, .open-modal-button {
  transition: background-color 0.3s ease;
}

.send-button:hover, .open-modal-button:hover {
  background-color: #6F0500; 
}

.send-button:active {
  background: #eee;
 }
 
 .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Cor de fundo suave */
  padding: 15px;
  border-radius: 10px;
}

.open-modal-button {
  background-color: #BF0B00; /* Cor de fundo verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease; /* Efeito de transição suave */

  /* Adicionando sombra sutil */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.open-modal-button:hover {
  background-color: #6F0500; /* Cor de fundo verde mais escura ao passar o mouse */
}

/* Adicionando estilo para um possível segundo botão */
.second-button {
  background-color: #337ab7; /* Cor de fundo azul */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease; /* Efeito de transição suave */

  /* Adicionando sombra sutil */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.second-button:hover {
  background-color: #286090; /* Cor de fundo azul mais escura ao passar o mouse */
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-height: 500px;
  overflow: auto;
  border-radius: 5px;
 }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin: 5px 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

ul li:hover {
  background-color: #ddd;
}

.input-button-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
 }